instance/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# VS Code
.vscode/

# Virtual environment
.venv/
env/
ENV/
.env
.devcontainer/


# Distribution / packaging
dist/
build/
*.egg-info/

test_db.py
start.sh
migrate_db.py

